/* Featurettes*/

.featurette-divider {
  margin: 5rem 0;
  /* Space out the Bootstrap <hr> more */

}
.featurette-divider-top {
  margin-top: 5rem;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.align {
  text-align: justify;
}
