<shared-nav-bar></shared-nav-bar>

<shared-carousel></shared-carousel>

<div class="container marketing custom-font-M">
  <!-- Features with description -->
  <div class="row featurette">
    <div class="col-md-7">
      <h1 class="featurette-heading">
        TrackingUIS: Solución IoT para Rastreo Geolocalizado y Seguridad del Bus
        Universitario.
      </h1>
      <br />
      <div class="lead align">
        <p>
          TrackingUIS es un proyecto innovador desarrollado como parte del curso
          de Microcontroladores en la Universidad Industrial de Santander. Su
          objetivo principal es ofrecer una solución integral de Internet de las
          cosas (IoT) para el seguimiento en tiempo real de la ubicación del
          autobús universitario y proporcionar medidas de seguridad adicionales
          en caso de emergencias.
        </p>
        <p>
          Este proyecto se fundamenta en una plataforma web dinámica y fácil de
          usar, creada con tecnologías avanzadas como Angular, Firebase y el uso
          de módulos ESP32. El ESP32 no solo se encarga de controlar el
          dispositivo GPS instalado en el autobús para ofrecer una ubicación
          precisa, sino que también está conectado a un giroscopio. Este
          giroscopio proporciona información sobre la orientación y detecta
          posibles incidentes, como vuelcos o accidentes.
        </p>
        <p>
          En situaciones de emergencia, como un vuelco o un accidente, el
          giroscopio detectará estos cambios bruscos y enviará una señal a la
          página web. La plataforma reaccionará lanzando una alarma inmediata y
          precisa, proporcionando información detallada sobre la situación del
          autobús. Esto permite una respuesta rápida y efectiva por parte de las
          autoridades competentes, además de alertar a los estudiantes y al
          personal de la universidad sobre la emergencia en tiempo real.
        </p>
        <p>
          Además del aspecto de seguridad, la interfaz web ofrece marcadores
          interactivos y una visualización precisa de la geolocalización del
          autobús en tiempo real. Esto permite a los estudiantes conocer en qué
          punto exacto se encuentra el vehículo en cualquier momento, así como
          información detallada sobre las paradas programadas para planificar
          sus desplazamientos de manera eficiente.
        </p>
        <p>
          Con la combinación de tecnologías avanzadas y un enfoque integral en
          la seguridad y la comodidad, TrackingUIS redefine la experiencia del
          transporte universitario al proporcionar una conectividad mejorada,
          accesibilidad a la información relevante y medidas de seguridad
          proactivas para la comunidad estudiantil.
        </p>
        <p>
          Este proyecto representa no solo un avance significativo en la
          aplicación de los microcontroladores y tecnologías IoT, sino también
          un compromiso firme con la seguridad y la eficiencia en el transporte
          estudiantil.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <img
        class="mx-auto d-block ps-5"
        src="./assets/trackinguis-logo-transparent.svg"
        width="100%"
      />
      <img
        class="mx-auto d-block ps-5"
        src="./assets/logo_verde_vert.png"
        width="65%"
      />
    </div>
  </div>

  <hr class="featurette-divider-top" />
  <h1 class="text-center my-4">Integrantes</h1>
  <hr class="mb-5">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading mb-3">
        Daniel Eduardo Cobos Ayala.
      </h2>
      <div class="lead align">
        <p>
          Estudiante de noveno semestre de Ingeniería de Sistemas en la Universidad Industrial de Santander, con una pasión evidente por el desarrollo de software y las tecnologías web. Su experiencia abarca un sólido dominio de herramientas clave como Angular, React, Spring Boot y Node.js, y muestra competencia versátil en lenguajes como Python, Java y JavaScript. Además, exhibe destrezas notables en tecnologías fundamentales como HTML, CSS, SQL y Git, aspectos esenciales para la creación de soluciones innovadoras.
        </p>
        <p>
          Durante su trayectoria académica, Daniel se ha destacado por su compromiso con proyectos desafiantes que han fortalecido su comprensión teórica y habilidades prácticas. Su enfoque proactivo hacia el aprendizaje continuo lo ha llevado a buscar constantemente nuevas tendencias tecnológicas y aplicarlas en proyectos concretos. Este enfoque progresivo lo ha posicionado como un estudiante motivado y adaptable, capaz de aportar soluciones creativas en el campo de la ingeniería de sistemas.
        </p>
      </div>
    </div>
    <div class="col-md-5 order-md-1 text-center">
      <img class="shadow" src="./assets/developers/DanielCobos.jpg" width="73%" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette mb-5 pb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Nery Karolina Aponte Barajas.
      </h2>
      <p class="lead align">
        Estudiante de sexto semestre de ingeniería de sistemas en la UIS. Posee una tecnología en análisis y desarrollo de sistemas de información, además de una especialización tecnológica en gestión y seguridad de bases de datos. Se destaca por su integridad, agilidad, proactividad, amabilidad y responsabilidad. Demuestra una gran capacidad de adaptación y está siempre dispuesta a aprender y compartir sus conocimientos. Está lista y preparada para afrontar nuevos retos, aprendiendo de los errores y mostrando una alta capacidad para conectar con las personas. Además de su dedicación al mundo de los sistemas, Nery tiene pasión por la danza folclórica, los caballos, la música y disfruta viendo películas.
      </p>
    </div>
    <div class="col-md-5 mb-4 text-center">
      <img class="shadow" src="./assets/developers/NeryAponte.jpeg" width="80%" />
    </div>
  </div>
  <!-- END Features with description -->


</div>
