<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

  <!-- Middle buttons -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>

    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>

    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">

    <div class="carousel-item active">


      <img src="./assets/carousel/Bus1.jpg" alt="Bus UIS" class="bd-placeholder-img" width="100%">

      <div class="container custom-font-M">
        <div class="carousel-caption text-end">
          <h1>Tracking UIS.</h1>
          <p class="opacity-75">
            Una movilidad eficiente.
          </p>
          <p><a class="btn btn-lg btn-primary" [routerLink]="['/map/track-bus']" routerLinkActive="router-link-active">Acceder</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item">

      <img src="./assets/carousel/Bus2.jpeg" alt="Bus UIS" class="bd-placeholder-img" width="100%">

    </div>

    <div class="carousel-item">

      <img src="./assets/carousel/banner-3.jpg" alt="UIS" class="bd-placeholder-img" width="100%">

    </div>

  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
